<div class="container">
  <div class="page-header">
    <h1>Select Slot</h1>
  </div>
  <div class="row header-row">
    <div ng-show="true || ctrl.selectedAppointment.day" class="col-md-24">
      <slot-length-dropdown ng-model="ctrl.appointmentLength"></slot-length-dropdown>
      Selected Slot:
      {{ctrl.selectedAppointment.timeSlots[0].start}}-
      {{ctrl.selectedAppointment.timeSlots[ctrl.selectedAppointment.timeSlots.length - 1].end}}
      <book-appointment
        ng-disabled="!ctrl.selectedAppointment.day"
        class="pull-right"
        data-property-id="{{ctrl.propertyId}}"
        data-appointment="ctrl.selectedAppointment"
      ></book-appointment>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-2">Date</th>
              <th ng-repeat="slot in ctrl.data[0].startTimes" class="col-md-{{slot.duration / 30}}" >
                {{slot.startDisplay}}-{{slot.endDisplay}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="day in ctrl.data" class="table-row">
              <th>{{day.day}}</th>
              <td
                ng-repeat="slot in day.startTimes"
                class="slot"
                ng-class="{possible: slot.possible, selected: slot.selected}"
                ng-click="ctrl.selectTimeSlot($index, $parent.$index, slot)"
              ></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
