availability-visualisation {
  th {
    font-size: 0.75em;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
  }
  .slot {
    text-align: center;
    background-color: #f46b87;
    border: solid 1px gray;
  }
  .slot.possible {
    background-color: #6bf480;
  }
  .slot.selected {
    background-color: #6095ea;
  }
}
