<div>
  <div class="modal-header">
    <h1>Book Appointment</h1>
  </div>
  <div class="modal-body">
    <div ng-if="!ctrl.saving && !ctrl.success && !ctrl.error">
    Are you sure you want to book a cleaner for
    <span class="important">{{ctrl.appointment.startTime}}</span>
    on
    <span class="important">{{ctrl.appointment.day}}</span>?
    </div>
    <div class="alert alert-info" ng-if="ctrl.saving">
      Saving
    </div>
    <div ng-if="ctrl.success">
      Great news, your cleaner has been booked for
      <span class="important">{{ctrl.appointment.day}}</span>
      at
      <span class="important">{{ctrl.appointment.startTime}}</span>
      <span ng-if="ctrl.cleaner && ctrl.cleaner.name">Your cleaner will be
        <span class="important">{{ctrl.cleaner.name}}</span>
      </span>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      ng-click="ctrl.confirmBooking()"
      ng-if="!ctrl.saving && !ctrl.success"
    >Confirm</button>
    <button
      type="button"
      class="btn btn-default"
      ng-click="ctrl.close()"
    >{{ctrl.success ? 'Close' : 'Cancel'}}</button>
  </div>
</div>
